* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --text-header-color : black;
    --text-header-color : #777;
}

.container{
    margin: 25px;
    background-color: #eff3f4;
    border-radius: 18px;
    padding: 15px;
}
header{
    margin-bottom: 10px;
    border: solid 2px #777;
    border-radius: 15px;
    padding: 10px;
}

.Add{
    background-color: #777777a6;
    border-radius: 12px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 310px;
    margin-bottom: 20px;
}
.plus{
    font-size: 70px;
    cursor: pointer;
}
.parent{
    display: flex;
    flex-direction: column;
    gap: 38px;
    width: 90%;
}
.title{
    outline: none;
    border-radius: 11px;
    padding: 5px;
    border: none;
}
.content{
    outline: none;
    border-radius: 11px;
    padding: 5px;
    border: none;
}
.time{
    outline: none;
    border-radius: 11px;
    padding: 5px;
    border: none;
}
.button{
    outline: none;
    border-radius: 11px;
    border: none;
    width: 60px;
    padding: 3px 6px;
    text-align: center;
    display: flex;
    align-items: center;
}
.Hidden {
    display: none;
}
.card{
    background-color: #d1eaed;
    border-radius: 12px;
    height: 250px;
    display: flex;
    flex-direction: column;
    malign-items: flex-start;
    justify-content: space-between;
    padding: 15px;
}
h3{
    
}
.p1{
    word-break: break-all;
}
.p2{

}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
i{
    cursor: pointer;
}